{:kotoba.app/id "cloud.itonami.isic-2396", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiexd2aqpyocrxlv3aug3ffhtsdpn25ma4fls54j3wwdgbcf3usiza", :kotoba.app/embed-url "ipfs://bafkreiexd2aqpyocrxlv3aug3ffhtsdpn25ma4fls54j3wwdgbcf3usiza", :published {:archive "https://kotobase.net/ipfs/bafkreiexd2aqpyocrxlv3aug3ffhtsdpn25ma4fls54j3wwdgbcf3usiza", :size 73580, :put-status 201, :get-status 200, :at "2026-08-15T13:34:44.157Z"}}
